@font-face {
  font-family: moon;
  src:url('MOON 2.0 FREE/Moon2.0-Bold.oft') format("opentype");
}
@font-face {
  font-family: moonl;
  src:url('MOON 2.0 FREE/Moon2.0-Light.otf') format("opentype");
}
@font-face {
  font-family: vcr;
  src: url('VCR_OSD_MONO.ttf') format('truetype');
}
@font-face {
  font-family: 'pop';
  src: url('60s-pop/60s\ Pop.ttf') format('truetype');
}
@font-face {
  font-family: 'Linotte-SemiBold';
  src: url('Linotte\ SemiBold-Webfont/Webfonts/linotte_semibold_macroman/Linotte-SemiBold-webfont.woff2') format('woff2'),
       url('Linotte\ SemiBold-Webfont/Webfonts/linotte_semibold_macroman/Linotte-SemiBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Jaapokki';
  src: url('Jaapokki-font-package-1.0/subtract/web/jaapokkisubtract-regular.eot');
  src: url('Jaapokki-font-package-1.0/subtract/web/jaapokkisubtract-regular.eot?#iefix') format('embedded-opentype'),
       url('Jaapokki-font-package-1.0/subtract/web/jaapokkisubtract-regular.woff') format('woff'),
       url('Jaapokki-font-package-1.0/subtract/web/jaapokkisubtract-regular.ttf') format('truetype'),
       url('Jaapokki-font-package-1.0/subtract/web/jaapokkisubtract-regular.svg') format('svg');
}
@font-face {
  font-family: 'arkhip';
  src:url('arkhip/Arkhip_font.otf') format("opentype"),
      url('arkhip/Arkhip_font.ttf') format("truetype");
}
@font-face {
  font-family: 'club';
  src: url('NEON\ CLUB\ MUSIC\ \(Font\ by\ Manuel\ Viergutz\)/NEON\ CLUB\ MUSIC_bold.otf') format('truetype');
}

html {
  width: 100%;
  height: 100%;
}
body {
  background-image: url('Vecteezy/Vecteezy-17-12200-05.jpg');
  background-repeat: no-repeat; 
  background-attachment: fixed;  
  background-position: center;     
  background-size: 135%;
  height:100%;
  width:100%; 
  background-attachment: fixed;
  font-family: vcr;
}
h2 {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: #99cc99;
}
a:hover {
  text-decoration: none;
  color: #a9e677;
  margin-top: 3.2rem;
  padding-top: 0.5rem;
}
/*.projectLink {
  margin: 0;
  padding: 0;
}
*/
.projectLink:hover{
  margin: 0rem;
  padding: 0rem;
}

#header{
  margin: 7rem 0rem 2rem 0rem;
  width: 100%;
  text-align: center;
  font-size: 9rem;
  font-family: 'club';
  text-align: center;
}
nav {
  margin: 0rem auto 2rem auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.navLink {
  color: 	#0ff;
  text-shadow: 9px 8px 2px rgb(255, 0, 0);
  font-family: vcr;
  font-size: 3rem;
  margin: 4rem 6rem 6rem 6rem;
  text-decoration: none;
}
div {
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  font-family: vcr;
}
.glass_div {
  display: block;
  width: 65rem;
  min-height: 28rem;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  padding: 2.5rem 4rem 2.5rem 4rem;
  border: solid 0.2rem rgba(255, 255, 255, 0.7);
  border-radius: 1%;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 35%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 69%, rgba(255,255,255,0.6) 93%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.5) 35%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.3) 69%,rgba(255,255,255,0.6) 93%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg , rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.5) 35%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.3) 69%,rgba(255,255,255,0.6) 93%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  margin-bottom: 7rem;  
}
img {
  width: 15rem;
  height: 10rem;
  margin: 3.5% 2%;
}
#portrait {
  width: auto;
  height: 15rem;
  border-radius: 2%;
  margin: auto; 
  transform: rotate(90deg);
  opacity: 70%;
  float: left;
}
#about {
  width: 57%;
  margin: auto;
  float: right;
}
.icon {
  width: 5rem;
  height: 5rem;
  margin: auto;
}
footer {
  color: #4da6ff;
  font-size: 0.05rem;
}

li {
  width: 80%;
  margin: 3rem 0;
  list-style-type: none;
  text-align: left;
}
h3 {
  font-size: 1.2rem;
}
.bar {
  background-color: #353b48;
  display: block;
  height: 0.15rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}
.bar span {
  height: 100rem;
  float: left;  
  background: #2187e7;
  z-index: 10;
}
.html {
  width: 95%;
  background-color: #2187e7;
}
.css {
  width: 70%;
}
button {
  color: rgba(92, 8, 8, 0.267)
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
input {
  margin: 2% 2.5% 2% 2.5%;
}
.input-small {
  width: 45%;
}
.input-full-width {
  width: 100%;
}

@media screen and (max-width:1152px){
  body{
    background-position: center;
    background-size: 400%;
    height:100%;
  }
  #header{
    font-size: 8rem;
  }
  nav {
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }
 .navLink {
      font-size: 4.5rem;
  }
  .glass_div {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
    min-height: 55%;
    font-size: 2.7rem;
  }
  img {
    justify-content: space-evenly;
  }
  .icon {
    width: 11rem;
    height: 11rem;
  }
  footer {
    margin-bottom: 0rem;
  }
  #portrait {
    margin: 7% 1% 7% 1%;
    float: none;
  }
  #about {
    float: none;
    width: 95%;
    margin: 5% 1%;
    letter-spacing: normal;
    text-align: justify;
  }
  input {
    width: 100%;
  }
}