@font-face {
  font-family: moon;
  src:url('MOON 2.0 FREE/Moon2.0-Bold.oft') format("opentype");
}
@font-face {
  font-family: moonl;
  src:url('MOON 2.0 FREE/Moon2.0-Light.otf') format("opentype");
}
@font-face {
  font-family: vcr;
  src: url('VCR_OSD_MONO.ttf') format('truetype');
}
@font-face {
  font-family: 'varela_roundregular';
  src: url('varela-round-fontfacekit/web-fonts/varelaround_regular_macroman/VarelaRound-Regular-webfont.eot');
  src: url('varela-round-fontfacekit/web-fonts/varelaround_regular_macroman/VarelaRound-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('varela-round-fontfacekit/web-fonts/varelaround_regular_macroman/VarelaRound-Regular-webfont.woff2') format('woff2'),
       url('varela-round-fontfacekit/web-fonts/varelaround_regular_macroman/VarelaRound-Regular-webfont.woff') format('woff'),
       url('varela-round-fontfacekit/web-fonts/varelaround_regular_macroman/VarelaRound-Regular-webfont.ttf') format('truetype'),
       url('varela-round-fontfacekit/web-fonts/varelaround_regular_macroman/VarelaRound-Regular-webfont.svg#varela_roundregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url('Vecteezy/Vecteezy-17-12200-05.jpg');
  background-size: 127%;
  background-position-x: 95%;
  background-position-y: 42%;
  background-attachment: fixed;
  font-family: vcr;
}
a {
  text-decoration: none;
  color: #141452;
}
a:hover {
  text-decoration: none;
  color: #b0c4de;
  margin-top: 3.2rem;
  padding-top: 0.5rem;
}
#header{
  color: #141452;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 0rem;
  width: 100%;
  text-align: center;
  font-size: 125px;
  font-family: moon, 'varela_roundregular' ;
  text-align: center;
}
nav {
  margin: 0rem auto 2rem auto;
  max-width: 60%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  text-align: center;
}
.navLink {
  color: 	#0ff;
  text-shadow: 9px 8px 2px rgb(255, 0, 0);
  font-family: vcr;
  font-size: 3rem;
  margin: 4rem 6rem 6rem 6rem;
  text-decoration: none;
}
div {
  margin: auto;
  display: block;
  font-family: vcr;
}
.glass_div {
  width: 65rem;
  min-height: 28rem;
  color: #fff;
  letter-spacing: 0.3rem;
  padding: 2.5rem 4rem 2.5rem 4rem;
  border: solid 0.2rem rgba(255, 255, 255, 0.7);
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 35%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 69%, rgba(255,255,255,0.6) 93%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.5) 35%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.3) 69%,rgba(255,255,255,0.6) 93%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg , rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.5) 35%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.3) 69%,rgba(255,255,255,0.6) 93%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  margin-bottom: 7rem;  
}
img {
  width: 15rem;
  height: 10rem;
  margin: 1rem 1rem;
  padding: 0.7rem;
}
#portrait {
  width: 10rem;
  align-items: center; 
}
footer {
  color: #4da6ff;
  font-size: 0.05rem;
}